@import './variables.scss';

.dashboard {
	.btn {
		max-width: 80px;
		padding: 10px;
		margin: 5px;
		border-radius: 5px;
		font-family: $text-font;
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		cursor: pointer;
		display: inline-block;
	}
    .add-list {
        background-color: #70A0AF;
        color: #fff;
    }

	.clear-all {
		background-color: #af0a0a;
		color: #fff;
	}
}
