@import './variables.scss';

.schedule {
	color: #fff;
	font-family: $text-font;
	font-weight: bold;

	.header {
		font-size: 34px;
		display: flex;
		padding: 15px;
		justify-content: flex-end;
		align-items: center;
		text-align: center;

		.year {
			flex: 1;
			max-width: 200px;
		}

		.month {
			flex: 1;
			max-width: 200px;
		}
	}

	.weekday-names {
		display: grid;
		grid-template-columns: repeat(7, auto);
		grid-gap: 2px;
		margin: 0 auto;
		width: 95vw;
		height: 5vh;
		margin-bottom: 10px;

		.weekday {
			font-size: 22px;
			padding: 0px;
			text-align: center;
		}
	}

	.calendar {
		display: grid;
		grid-template-columns: repeat(7, auto);
		grid-template-rows: repeat(5, 1/5);
		grid-gap: 2px;
		margin: 0 auto;
		width: 95vw;
		height: 65vw;


		.day {
			background: rgba(60,60,60,.5);
			font-size: 28px;
			padding: 10px;

			&.today {
				.number {
					border: 2px solid #afbb59;
					border-radius: 50%;
					max-width: 38px;
					text-align: center;
					padding: 3px;
				}
			}
		}
	}

}
