@import "./fonts.scss";

$bg-color: #262129;
$color: #444;
/*
$title-font: 'Kumar One', cursive;
$menu-font: 'Ruslan Display', cursive;
 */
$title-font: 'Amita', cursive;
$title-color: #444;
$text-font: 'Source Sans Pro', sans-serif;
$menu-font: 'Alice', serif;
$font-size: 2rem;

$red: #f96161;
$yellow: #f9d361;
$blue: #a2e9ff;
